/* body{
    background: #000000;  
    background: -webkit-linear-gradient(to left, #434343, #000000);  
    background: linear-gradient(to left, #434343, #000000); 
} */
nav a{
    text-decoration: none;
    color: white;
}
.navbg{
    background-color: #ff8080;
}
.card:hover{
    box-shadow: 3px 1px 7px 10px #ccc;
}
